html, body
{
	font-family: 'Roboto';
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p
{
	margin: 0;
	padding: 0;
}

header
{
	width: 100%;
	height: 80px;
	z-index: 1;
}

.search
{
	opacity: 0.5;
	text-align: center;
	/* margin-top: 22.5px; */
}

.search form input
{
	width: 300px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	color: rgb(125, 195, 245);
	font-size: 10pt;
}

/*
 * Header stuff
 */
.inner-header
{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 80px;
	transition: all 0.8s ease;
}

/*
 * DEFAULT
 */

.inner-header.default
{
	height: 80px;
}

.inner-header.default h1
{
	font-size: 2em;
	transition: all 0.8s ease;
}

.inner-header.default .fa-2x
{
	font-size: 2em;
	transition: all 0.8s ease;
}

.inner-header.default input
{
	width: 300px;
	height: 20px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	transition: all 0.8s ease;
}

.inner-header.default .search
{
	margin-top: 22.5px;
	transition: all 0.8s ease;
}

.inner-header.default .top-padding
{
	margin-top: 17.5px;
	transition: all 0.8s ease;
}

.inner-header.default .profile img
{
	height: 50px;
	transition: all 0.8s ease;
}

.inner-header.default p.username
{
	padding-top: 27.5px;
	transition: all 0.8s ease;
}

.inner-header.default .title
{
	position: static;
	bottom: 0px;
	transition: all 0.8s ease;
}

/*
 * STICKY
 */

.inner-header.sticky
{
	height: 50px;
}

.inner-header.sticky h1
{
	font-size: 12pt;
	transition: all 0.8s ease;
}

.inner-header.sticky .fa-2x
{
	transition: all 0.8s ease;
	font-size: 1.25em;
}

.inner-header.sticky input
{
	width: 300px;
	height: 15px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
    transition: all 0.8s ease;
}

.inner-header.sticky .search
{
	margin-top: 7.5px;
	transition: all 0.8s ease;
}

.inner-header.sticky .top-padding
{
	margin-top: 13.5px;
	transition: all 0.8s ease;
}

.inner-header.sticky .profile img
{
	height: 25px;
	transition: all 0.8s ease;
}

.inner-header.sticky p.username
{
	padding-top: 13.5px;
	transition: all 0.8s ease;
}

.inner-header.sticky .title
{
	position: relative;
	bottom: 1px;
	transition: all 0.8s ease;
}

/************************/

.base-color
{
	color: rgb(72, 170, 240);
}

nav
{
	display: inline;
	padding-left: 20px;
}

div.divide-25
{
	float: left;
	display: inline;
	width: 25%;
}

div.divide-33
{
	float: left;
	display: inline;
	width: 33.33%;
}

div.divide-50
{
	float: left;
	display: inline;
	width: 50%;
}

div.title
{
	padding-left: 10px;
	padding-right: 30px;
	display: inline-block;
}

input
{
	border: 1px solid rgba(125, 195, 245, 0.5);
	background: rgba(9, 108, 178, 0.2);
	padding: 5px;
}

input::-webkit-input-placeholder
{
	color: rgb(125, 195, 245);
}

input:-moz-placeholder { /* Firefox 18- */
   color: rgb(125, 195, 245);  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(125, 195, 245);  
}

input:-ms-input-placeholder {  
   color: rgb(125, 195, 245);  
}

.profile
{
	float: right;
}

.profile img 
{
	height: 50px;
	border-radius: 50%;
}

p.username
{
	padding-top: 27.5px;
	color: white;
}

.avatar
{
	padding-top: 12.5px;
}

p.username, .avatar
{
	float: right;
	display: inline-block;
	padding-right: 25px;
}

.wrapper
{
	/* background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("../img/samuraichamploo.jpg"); */
	background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("../img/fmab.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 850px;
	z-index: 1;
}

.content
{
	margin: 550px auto;
	width: 1222px;
}

.inner-content
{
	text-align: left;
	z-index: 1;
}

.poster > img
{
	width: 286px;
	height: 388px;
}

header.title > h1
{
	color: white;
	font-weight: 300;
}

.inner-content .title h1
{
	color: white;
	font-weight: 300;
	font-size: 24pt;
}

.score
{
	background-color: rgba(59, 137, 193, 0.9);
	height: 220px;
	width: 220px;
}

.score > .total
{
	width: 100%;
	height: 220px;
	text-align: center;
}

.score > .your-rating
{
	display: inline;
	width: 50%;
	height: 100px;
	background-color: rgb(9, 108, 178);
	float: left;
	text-align: center;
}

.score > .popularity
{
	display: inline;
	width: 50%;
	height: 100px;
	background-color: rgb(25, 122, 191);
	float: right;
	text-align: center;
}

.score > .total > h1
{
	font-weight: 100;
	font-size: 100pt;
}

.score > .total > p
{   
	font-size: 18pt;
    font-weight: 300;
    margin-top: -15px;
}

.score > .your-rating > h1
{
	font-size: 44pt;
	font-weight: 100;
}

.score > .popularity > h1
{
	font-size: 44pt;
	font-weight: 100;
}

.score > .popularity > p
{
	font-size: 11pt;
	font-weight: 300;
}

.score > .your-rating > p
{
	font-weight: 300;
}

footer
{
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgb(23, 22, 24);
	z-index: -1;
}

.reviews h4
{
}

.top-padding
{
	margin-top: 17.5px;
}

.indent-search
{
	margin-right: -25px;
    z-index: 1;
}

.tags
{
	margin-top: 10px;
}

.tag
{
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 15px;
}

.tag > p
{
	display: inline;
	border: 1px solid rgb(25, 147, 233);
	border-left: none;
	padding: 2px 10px 2px 10px;
	font-size: 10pt;
	color: rgb(25, 147, 233);
}

.tag > img
{
	margin-bottom: -7px;
}

div.misc 
{
	display: inline;
	position: absolute;
	margin-top: 0px;
}

div.misc > p
{
	display: inline;
	padding-right: 25px;
	color: #7dc3f5;
	font-weight: 300;
	font-size: 11pt;
}

div.misc > p.airtime
{
	color: #1993e9;
}

div.staff
{
	position: absolute;
	margin-top: 25px;
}

div.staff > p
{
	display: inline-block;
	color: #7dc3f5;
	font-weight: 300;
	font-size: 11pt;
	padding-right: 25px;
}

div.staff strong
{
	color: #1993e9;
}

.top-indent
{
	margin-top: -10px;
}

.fixed-230-height
{
	height: 230px;
}

.synopsis
{
	margin-top: 5px;
}

.synopsis > p
{
	font-weight: 300;
	font-size: 11pt;
	color: #7dc3f5;
}

.synopsis > p > strong
{
	font-size: 500;
	color: #1993e9;
}